.container-custom {
    height: 100vh;
    width: 100vw;
    outline: none;
    /* background-color: aquamarine; */
}

header {
    position: fixed;
    padding: 1.5rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
}

.header-f1 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Pretendard";
    letter-spacing: -0.5px;
}

.header-f2 {
    font-size: 1rem;
    font-weight: 500;
    font-family: "Pretendard";
    letter-spacing: -1px;
}

section {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white {
    color: rgba(255, 255, 255, 1)
}

.black {
    color: rgba(0, 0, 0, 1)
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-wrap {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.home-wrap {

}

.home-f1 {
    font-size: 1rem;
    font-weight: 500;
    font-family: "Pretendard";
}

.home-f2 {
    font-size: 6rem;
    font-weight: 800;
    font-family: "Pretendard";
    line-height: 6rem;
}

.resume-f1 {
    font-size: 3.5rem;
    font-weight: 800;
    font-family: "Pretendard";
    letter-spacing: -1px;
}

.resume-f2 {
    font-size: 2.5rem;
    font-weight: 800;
    font-family: "Pretendard";
    letter-spacing: -1px;
}

.resume-f3 {
    font-size: 0.8rem;
    font-weight: 500;
    font-family: "Pretendard";
    letter-spacing: -1px;
    color: rgba(127, 127, 127, 1);
}

.resume-f4 {
    font-size: 0.9rem;
    font-weight: 800;
    font-family: "Pretendard";
    letter-spacing: -1px;
}

.resume-container {
    height: 60vh;
}

.resume-wrap1 {
    min-height: 3em;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Pretendard";
    letter-spacing: -1px;
}

.resume-wrap2 {
    min-height: 5em;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Pretendard";
    letter-spacing: -1px;
}

.stack-wrap {
    background-image: url(../img/experience.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size : cover;
}

.stack-f1 {
    font-size: 3.5rem;
    font-weight: 800;
    font-family: "Pretendard";
    letter-spacing: -1px;
}

.portfolio-wrap {
}

.portfolio-f1 {
    font-size: 3.5rem;
    font-weight: 800;
    font-family: "Pretendard";
    letter-spacing: -1px;
}

.contact-wrap {
    background-image: url(../img/contact.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.contact-f1 {
    font-size: 3.5rem;
    font-weight: 800;
    font-family: "Pretendard";
    letter-spacing: -1px;
}

.contact-f2 {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Pretendard";
    letter-spacing: -2px;
}

.wrap {
    width: 60vw;
}

.br {
    width: 2px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: lightgray;
    height: 3em;
}

.f1 {
    flex: 1;
}

.f2 {
    flex: 2;
}

.f3 {
    flex: 3;
}

.f4 {
    flex: 4;
}

.f5 {
    flex: 5;
}

.mt1 {
    margin-top: 1rem;
}

.mt2 {
    margin-top: 2rem;
}

.mt3 {
    margin-top: 3rem;
}

.mt4 {
    margin-top: 4rem;
}

.mt5 {
    margin-top: 5rem;
}

.mt10px {
    margin-top: 10px;
}

.ml1 {
    margin-left: 1rem;
}

.ml2 {
    margin-left: 2rem;
}

.ml3 {
    margin-left: 3rem;
}

.ml4 {
    margin-left: 4rem;
}

.ml5 {
    margin-left: 5rem;
}

.ml5px {
    margin-left: 5px;
}

.ml20px {
    margin-left: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px 0px 15px 20px;
    font-size: 0.7rem;
    font-weight: 600;
    font-family: "Pretendard";
    letter-spacing: -0.1px;
    z-index: 1;
}